
@{
    ViewBag.Title = "Página Inicial";

    var path = string.Empty;
    if (Request.ApplicationPath.Length > 1)
    {
        path = Request.ApplicationPath;
    }
}

<div class="well">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="green smaller lighter">Bem vindo(a) @ViewBag.NomeUsuario!</h4>

            <span class="customhidden-xs">Utilize os botões ao lado para acesso rápido a página de cadastro ou o menu superior para mais opções.</span>
            <span class="show-xs hidden-sm hidden-md hidden-lg">Utilize os botões abaixo para acesso rápido a página de cadastro ou o menu superior para mais opções.</span>
        </div>

        <div class="col-sm-6">
            <button class="btn btn-white btn-info btn-bold marginTopBotoesInicial" onclick="window.location.href = '@path/Incidente/Novo';" style="width: 100%;">
                <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                Novo incidente
            </button>

            <button class="btn btn-white btn-warning btn-bold" onclick="window.location.href = '@path/IncidenteVeiculo/Novo';" style="width: 100%; margin-top: 10px;">
                <i class="ace-icon fa fa-plus bigger-120 orange"></i>
                Novo incidente veículo
            </button>
        </div>
    </div>
</div>

<div class="space-10"></div>

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <p id="chart_div1_title" style="display: none; font-weight: bold; margin-bottom: 5px; font-size: 14px; padding-bottom: 10px;">Total Incidentes por Mês</p>
        <div id="chart_div1" style="height: 400px;"></div>
        <input type="hidden" id="chart_div1Data" value="" />
    </div>
    
</div>

<div class="row">
    <div class="col-sm-6 col-xs-12">
        <p id="piechart1_title" style="display: none; font-weight: bold; margin-bottom: 5px; font-size: 14px; padding-bottom: 10px;">Total Incidentes por Tipo de Acidente - Pessoas</p>
        <div id="piechart1" style="width: 500px; height: 400px;"></div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <p id="piechart2_title" style="display: none; font-weight: bold; margin-bottom: 5px; font-size: 14px; padding-bottom: 10px;">Total Incidentes por Tipo de Acidente - Veículos</p>
        <div id="piechart2" style="width: 500px; height: 400px;"></div>
    </div>
</div>


@section Scripts
{
    @Scripts.Render("~/bundles/jQ_dataTable")

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

        jQuery(function ($) {
            TotalIncidentesChartBar("chart_div1");
            IncidentesPessoasPorTipoAcidente("piechart1");
            IncidentesVeiculosPorTipoAcidente("piechart2");
        });

    </script>

}