@using (Html.BeginForm("Upload", "Registro", FormMethod.Post, new
{
    @id = "formUpload",
    @class = "dropzone",
    @enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()

    <div class="fallback" style="border: 1px solid red;">
        <input name="file" style="border: 1px solid red;" type="file" multiple="" />
    </div>
}

