<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GISCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GISCore.Properties.Settings>
            <setting name="GISCore_WSAutenticacao_CartaoCorporativo" serializeAs="String">
                <value>https://web.cemig.com.br/gedoc/spf.custom.ws.gedocapp/cartaocorporativo.asmx</value>
            </setting>
        </GISCore.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Suporte" />
                <binding name="BasicHttpBinding_InfoService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_Suporte" />
                <binding name="WSHttpBinding_InfoService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ec2-13-58-74-236.us-east-2.compute.amazonaws.com/SST.Services/SVC/Suporte.svc/Soap11"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Suporte"
                contract="WCF_Suporte.Suporte" name="BasicHttpBinding_Suporte" />
            <endpoint address="http://ec2-13-58-74-236.us-east-2.compute.amazonaws.com/SST.Services/SVC/Suporte.svc/Soap12"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Suporte"
                contract="WCF_Suporte.Suporte" name="WSHttpBinding_Suporte">
                <identity>
                    <servicePrincipalName value="host/WIN-LF69LIORUBB" />
                </identity>
            </endpoint>
            <endpoint address="https://gedex.cemig.com.br/INTEROP/WebHost/facadeservices/InfoService.svc/Soap11"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_InfoService"
                contract="CEMIGInfoService.InfoService" name="BasicHttpBinding_InfoService" />
            <endpoint address="https://gedex.cemig.com.br/INTEROP/WebHost/facadeservices/InfoService.svc/Soap12"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_InfoService"
                contract="CEMIGInfoService.InfoService" name="WSHttpBinding_InfoService" />
        </client>
    </system.serviceModel>
</configuration>