@using GISModel.DTO.Incidente
@using GISHelpers.Utils

@model List<VMIncidente>


@{
    Html.RenderPartial("_MensagensDeRetornoInterno");
}

<div class="space-6"></div>

<input type="hidden" id="TotalItensIncidente" value="@ViewBag.Pessoal" />
<input type="hidden" id="TotalItensIncidenteVeiculo" value="@ViewBag.PessoalVeiculo" />

@if (Model != null && Model.Count > 0)
{
    <div id="divTableResultadoInbox">
        @if (ViewBag.AlertaRownumAtingido != null && ViewBag.AlertaRownumAtingido)
        {
            <div style="margin-bottom: 10px">
                <div class="alert alert-warning padding-10">
                    <strong>
                        <i class="ace-icon fa fa-exclamation-triangle"></i>
                        Oops!
                    </strong>

                    @{
                        string msg = "Sua pesquisa atingiu o número máximo de ocorrências retornadas. ";
                        msg += "Refine os parâmetros de localização para um resultado mais preciso ou utilize o ícone de exportar para Excel # para ver todos os @ documentos encontrados.";

                        msg = msg.Replace("@", "<strong>" + ViewBag.TotalDocs.ToString() + "</strong>").Replace("#", "(<i class=\"ace-icon fa fa-file-excel-o bigger-110 blue\"></i>)");
                    }

                    @Html.Raw(msg)

                    <br />
                </div>
            </div>
        }

        <table id="tableResultadoIncidentes" class="table table-striped table-bordered table-hover">
            <thead>
                <tr style="background-image: linear-gradient(to bottom, #ffffff 0%, #e2e2e2 80%); font-size: 12px; height: 28px; min-height: 10px">

                    <th class="center" width="100px" style="padding: 0px; border-bottom: 0px">
                        Codigo
                    </th>

                    <th class="center" width="115px" style="padding: 0px; border-bottom: 0px">
                        Data Incidente
                    </th>

                    <th class="hidden-800 hidden-480 center" style="padding: 0px; border-bottom: 0px">
                        Tipo
                    </th>

                    <th class="hidden-800 hidden-480 center" width="80px" style="padding: 0px 0px 0px 5px; border-bottom: 0px">
                        Órgão
                    </th>

                    <th class="center" width="50px" style="padding: 0px; border-bottom: 0px">
                        Fatal?
                    </th>

                    <th class="center" width="55px" style="padding: 0px; border-bottom: 0px">
                        Grave?
                    </th>

                    <th class="center" style="padding: 0px 0px 0px 8px; border-bottom: 0px">
                        Status
                    </th>

                    <th class="hidden-800 hidden-480 center" style="padding: 0px 0px 0px 8px; border-bottom: 0px">
                        Msg. passo anterior
                    </th>

                    <th class="center" width="80px" style="padding: 0px 0px 0px 8px; border-bottom: 0px">
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (var ficha in Model)
                    {
                        Html.RenderPartial("~/Views/Inbox/_ListarIncidenteRow.cshtml", ficha);
                    }
                }
            </tbody>
        </table>

    </div>

}
else
{
    <div class="alert alert-warning">
        <strong>
            <i class="ace-icon fa fa-meh-o"></i>
            Oops!
        </strong>

        No momento, nenhum incidente encontrado.
        <br>
    </div>
}