<div class="space-6"></div>

<div class="alert alert-warning">
    <strong>
        <i class="ace-icon fa fa-meh-o"></i>
        Oops!
    </strong>

    No momento, nenhum quase incidente encontrado.
    <br>
</div>
