<?xml version="1.0" encoding="utf-8"?>
<!--

  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Web:NomeModulo" value="CIS" />
    <add key="Web:NomeCompletoModulo" value="Comunicado de Incidente de Segurança" />
    <add key="Web:VersaoModulo" value="1.0.0" />
    <add key="Web:PadraoCoresLista" value="#e8b110,#a039c2,#39c276,#D53F40,#3983C2,#c26539,#000000" />
    
    <add key="Web:Remetente" value="sesmttecnologico@gmail.com" />
    <add key="Web:SMTP" value="smtp.gmail.com" />
    
    <add key="Web:DefaultController" value="Home" />
    <add key="Web:DefaultAction" value="Index" /> <!-- Precisa revisar se esta será a página inicial do sistema ou se será por perfil -->
    
    <add key="DiretorioRaiz" value="C:\Users\johnn\Dropbox\SESMT\AWS\4\Workspace\SWIIT\Projetos\CIS\" />
    
    <add key="Server" value="ec2-13-58-74-236.us-east-2.compute.amazonaws.com"/>

    <add key="Vault" value="C:\inetpub\wwwroot\Workspace\CIS\Vault"/>
    <add key="MaxFilesPerDir" value="10"/>
    
    <add key="AD:DMZ" value="true" />
    <add key="AD:LoginAutomatico" value="false" />
    <add key="AD:Endereco" value="CEMIG.AD.CORP" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <connectionStrings>
    <clear />
    <add name="GISConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=dbsesmt.cuwdajdsxjv5.us-east-2.rds.amazonaws.com;Initial Catalog=dbCIS;User Id=sesmtdbadmin;Password=gabrieldbadmin;" />
  </connectionStrings>
  
  <system.web>
    <globalization  uiCulture="pt-BR" culture="pt-BR"/>
    
    <compilation debug="true" targetFramework="4.5" />
    
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" executionTimeout="1800000" />
    
    <authentication mode="Windows">
      <forms loginUrl="~/Account/Login" timeout="120" name=".SWIIT-CIS-Auth" />
    </authentication>
  </system.web>
  
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" pollingInterval="02:00:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Suporte" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ec2-18-188-171-70.us-east-2.compute.amazonaws.com/SST.Services/SVC/Suporte.svc/Soap11" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Suporte" contract="WCF_Suporte.Suporte" name="BasicHttpBinding_Suporte" />
    </client>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--<serverRuntime uploadReadAheadSize="2147483646"/>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483646"/>
      </requestFiltering>
    </security>
  </system.webServer>
  
</configuration>